<!DOCTYPE HTML>
<html>
    <head>
        <title>Page not found</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
        <link rel="alternate" type="application/atom+xml" title="Bao Pham - feed" href="/index.xml" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <style>
            body p { font-size: 16px; }
            /* google search */
            #goog-fixurl ul { font-size: 16px; list-style: none; padding: 0; margin: 0; }
            #goog-fixurl li { color:#888888 } 
            #goog-fixurl form { margin-top: 5px; }
            #goog-wm-qt, #goog-wm-sb { border: 1px solid #bbb; font-size: 14px; line-height: normal; vertical-align: top; color: #444; border-radius: 2px; }
            #goog-wm-qt { width: 220px; height: 15px; padding: 5px; margin: 5px 10px 0 0; box-shadow: inset 0 1px 1px #ccc; }
            #goog-wm-sb { display: inline-block; height: 27px; padding: 0 10px; margin: 5px 0 0; white-space: nowrap; cursor: pointer; background-color: #f5f5f5; background-image: -webkit-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -moz-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -ms-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -o-linear-gradient(rgba(255,255,255,0), #f1f1f1); -webkit-appearance: none; -moz-appearance: none; appearance: none; *overflow: visible; *display: inline; *zoom: 1; }
            #goog-wm-sb:hover, #goog-wm-sb:focus { border-color: #aaa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
            #goog-wm-qt:focus, #goog-wm-sb:focus { border-color: #105cb6; outline: 0; color: #222; }
            input::-moz-focus-inner { padding: 0; border: 0; }
            #goog-wm h3.other-things { display: none; }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <h1><a class="brand" href="/"><b>BPm'sWorld</b></a></h1>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/resume">Resume</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/tagged?tag=javascript">JavaScript</a></li>
                                    <li><a href="/tagged?tag=html5">HTML5</a></li>
                                    <li><a href="/tagged?tag=web-development">Web Development</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/archives">Archives</a></li>
                                </ul>
                            </li><!--/.dropdown-->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-->
            </div><!--/.navbar-inner-->
        </div><!--/.navbar-->
        <div class="page">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span10">
                        <h1>Oops! Page not found</h1>
                        <hr>
                        <p>Are you lost? Looks like the page you requested does not exist :(</p>
                        <p>But no worries, you can always go back <a href="/">home</a>, look through the <a href="/archives">archives</a> or get help from our best friend Google:</p>
                        <script>
                          var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
                        </script>
                        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
                    </div><!--/.span10-->
                </div><!--/.row-->
            </div><!--/.container-fluid-->
        </div><!--/.page-->
        <footer>
            <p>&copy; <%= Time.new.year %> Bao Pham &nbsp;&bull;&nbsp; Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> &amp; Powered by <a href="http://cloudhead.io/toto">toto</a></p>
        </footer>
        <script type="text/javascript" src="/js/bootstrap-js.min.js"></script>
    </body>
</html>

