<article>
<h2><%= @path.capitalize %></h2>
<ul>
    <% if archives.length > 0 %>
        <% for entry in archives %>
            <li>
                <a href="<%= entry.path %>"><%= entry.title %></a> <p><small><%= entry.date %></small></p>
            </li>
        <% end %>
    <% end %>
</ul>
</article>
