<div class="resume">
    <div id="doc2" class="yui-t7">
        <div id="inner">
            <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1>Bao Pham</h1>
                        <h2>3rd Year Student at <a href="http://ubc.ca/">UBC</a></h2>
                    </div>
                    <div class="yui-u">
                        <div class="contact-info">
                            <h3><a id="pdf" href="/Resume.pdf" name="pdf">Download PDF</a></h3>
                            <h3><a href="https://github.com/baopham">github/baopham</a></h3>
                        </div><!--/.contact-info -->
                    </div>
                </div><!--/.yui-gc -->
            </div><!--/hd -->
            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">
                        <div class="yui-gf">
                            <div class="yui-u first"><h2>Technical</h2></div>
                            <div class="yui-u">
                                <ul class="talent">
                                    <li>Python</li>
                                    <li>PHP</li>
                                    <li>Java</li>
                                    <li>C++</li>
                                    <li class="last">Assembly</li>
                                </ul>
                                <ul class="talent">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JavaScript</li>
                                    <li class="last">jQuery</li>
                                </ul>
                                <ul class="talent">
                                    <li>MySQL</li>
                                    <li>MATLAB</li>
                                    <li>Git / Subversion</li>
                                    <li class="last">Drupal CMS</li>
                                </ul>
                                <ul class="talent">
                                    <li>OS X</li>
                                    <li>Windows</li>
                                    <li class="last">Linux</li>
                                </ul>
                            </div>
                        </div><!--/.yui-gf-->
                        <div class="yui-gf">
                            <div class="yui-u first"><h2>School Projects</h2></div>
                            <div class="yui-u">
                                <div class="job">
                                    <h2>Basic Algorithms and Data Structures CPSC 221</h2>
                                    <p>&#8226; Implemented a maze solver algorithm in C++</p>
                                    <p>&#8226; Achieved 100% for the project</p>
                                </div>
                                <div class="job">
                                    <h2>Introduction to Software Development CPSC 211</h2>
                                    <p>&#8226; Designed and implemented a photo library application to display photos using Java Swing</p>
                                    <p>&#8226; Employed JUnit testing</p>
                                    <p>&#8226; Implemented tag cloud as a bonus</p>
                                    <p>&#8226; Achieved over 100% for the project</p>
                                </div>
                                <div class="last">
                                    <h2>Introduction to Computation CPSC 111</h2>
                                    <p>&#8226; Implemented the Game of Life in Java - a cellular automaton devised by the British mathematician John Horton Conway</p>
                                    <p>&#8226; Achieved 100% for the project</p>
                                    <p>&#8226; Being inspired by the success of the project, ported the Java program into <a href="http://baopham.heroku.com/2011/05/13/javascript-and-canvas-conways-game-of-life/">HTML5 and Javascript</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="yui-gf">
                            <div class="yui-u first"><h2>Personal Projects</h2></div>
                            <div class="yui-u">
                                <div class="job">
                                    <h2>Personal Website</h2>
                                    <p>&#8226; <a href="/">This site!</a></p>
                                    <p>&#8226; A site for me to learn and explore new technologies</p>
                                    <p>&#8226; Includes interactive chess game, matrix calculator, Game of Life animation</p>
                                </div>
                                <div class="last">
                                    <h2>Github Repos</h2>
                                    <p>&#8226; <a href="http://github.com/baopham">github/baopham</a></p>
                                    <p>&#8226; Languages: Ruby, Python, VimL, PHP, JavaScript</p>
                                </div>
                            </div>
                        </div>
                        <div class="yui-gf">
                            <div class="yui-u first"><h2>Experience</h2></div>
                            <div class="yui-u">
                                <div class="job">
                                    <h2>UBC Computer Science</h2>
                                    <h3>Web Developer &#8211; Co-op</h3>
                                    <h4>05/2012&#8211;08/2012</h4>
                                    <p>&#8226; Learned PHP and Drupal from scratch</p>
                                    <p>&#8226; Created a PHP web application to convert bibliography files to CSV</p>
                                    <p>&#8226; Developed 2 custom modules for UBC Drupal website:
                                        <p style="margin-left:30px">&raquo Integrated with UBC's recording system to let user schedule a recording and upload to Youtube</p>
                                        <p style="margin-left:30px">&raquo Added customizable features to Computer Science room booking system</p>
                                    </p>
                                    <p>&#8226; Contributed to Drupal community by developing a BibTeX plugin for <a href="http://drupal.org/project/views_datasource">Views Datasource</a> module</p>
                                    <p>&#8226; Provided patches for various Drupal modules, such as Organic Group, OG Access Roles, Node Access User Reference, OG Archive Groups</p>
                                </div>
                                <div class="job">
                                    <h2>Genome Sciences Centre</h2>
                                    <h3>Bioinformatics &#8211; Co-op</h3>
                                    <h4>09/2011&#8211;04/2012</h4>
                                    <p>&#8226; Key person to process the team QC's reports to online services for down stream research</p>
                                    <p>&#8226; Developed Python modules for the team to parse report files to HTML and upload to Plone</p>
                                    <p>&#8226; Collaborated closely with the team members to help produce and format accurate reports</p>
                                    <p>&#8226; Coded shell scripts to extract data from the system</p>
                                    <p>&#8226; Had the opportunity to work with the underlying distributed system consisting of multiple databases</p>
                                    <p>&#8226; Displayed strong analytical skills by finishing work with minimal supervision and in a short period of time</p>
                                </div>
                                <div class="last">
                                    <h2>Private Math Tutor</h2>
                                    <h4>2010</h4>
                                    <p>&#8226; Tutored a Grade 12 student in Math</p>
                                    <p>&#8226; Motivated and encouraged student to excel in the subject</p>
                                </div>
                            </div><!--/.yui-u -->
                        </div><!--/.yui-gf -->
                        <div class="yui-gf">
                            <div class="yui-u first"><h2>Education</h2></div>
                            <div class="yui-u">
                                <h2>National University of Singapore</h2>
                                <p>&#8226; Currently on exchange at NUS</p>
                                <p>&#8226; Received NUS-UBC Lee Foundation Award</p>
                            </div>
                            <div class="yui-u">
                                <h2>University of British Columbia, Canada</h2>
                                <p>&#8226; Combined Major Math and Computer Science</p>
                                <p>&#8226; Awarded President Entrance Scholarship for excellent performance in High School</p>
                            </div>
                        </div><!--/.yui-gf -->
                        <div class="yui-gf last">
                            <div class="yui-u first"><h2>Interests</h2></div>
                            <div class="yui-u">
                                <p>Computer Science, Mathematics, Technology, HTML5, JavaScript, Ruby, Vim, ZSH</p>
                            </div>
                        </div><!--/.yui-gf -->
                    </div><!--/.yui-b -->
                </div><!--/yui-main -->
            </div><!--/bd -->
        </div><!-- // inner -->
    </div><!--/doc -->
</div>
