<%
    require 'karakuri'
    desired_tag = Karakuri::desired_tag(env["QUERY_STRING"])
    @path = desired_tag
%>
<div class="tag"><h1><%= desired_tag %></h1></div>
<br><br>
<ul class="tag-list">
<% Karakuri::desired_articles(@articles, desired_tag).each do |article| %>
        <li>
            <a href="<%= article.path %>"><%= article.title %></a>
            <p><small><%= article.date %></small></p>
        </li>
<% end %>
</ul>
