{% extends "index_base.html" %}

{% block title %}My Bookmarks{% endblock %}

{% block hero-unit %}
<div class="category"><h1>My Bookmarks</h1></div>
{% endblock hero-unit %}

{% block content %}
<ul>
    <li><a href="https://github.com/baopham">My github repos</a></li>
    <li><a href="https://news.ycombinator.com/">Hacker News</a></li>
    <li><a href="http://visualjquery.com/">Visual JQuery</a></li>
    <li><a href="http://qntm.org/files/perl/perl.html">Learn Perl in about 2 hours 30 minutes</a></li>
    <li><a href="http://touchmathematics.org/">Touch Mathematics</a></li>
    <li><a href="http://instagram-engineering.tumblr.com/">Instagram Engineering Challenge: The Unshredder</a></li>
    <li><a href="http://code.recollect.com/">Solving Instagram’s Unshredder with Mechanical Turk and $0.50</a></li>
    <li><a href="http://www.vim.org/scripts/script.php?script_id=2423">Vim Script for Gist</a> (for Github and Vim fans)</li>
    <li><a href="http://remysharp.com/2009/01/07/html5-enabling-script/">HTML5 Enabling Script</a> (for IE)</li>
    <li><a href="http://www.exsprite.com/">JavaScript Library for HTML5 Canvas</a></li>
    <li><a href="http://www.jamisbuck.org/presentations/rubyconf2011/index.html">"Algorithms" Is Not a Four-Letter Word</a> (very cool)</li>
    <li><a href="http://www.ibm.com/developerworks/linux/library/l-recurs/index.html">Mastering Recursive Programming</a></li>
    <li><a href="http://vanillajava.blogspot.com/2011/10/randomly-no-so-random.html">Vanilla Java: Randomly Not So Random</a></li>
    <li><a href="http://openstudy.com/">Open Study - Make The World Your Study Group</a></li>
    <li><a href="http://vimandvision.net/">Vim and Vision</a></li>
    <li><a href="https://github.com/cmpolis/Pagify">Pagify.js</a> (JQuery plugin for creating one page websites)</li>
    <li><a href="http://introducinghtml5.com/">Introducing HTML5</a> (recommended!!)</li>
    <li><a href="http://www.djangobook.com/en/2.0/">The Django Book</a></li>
    <li><a href="http://ditaa.org/ditaa/">Diagrams Through ASCII Art</a></li>
    <li><a href="http://speakerdeck.com/u/naoya/p/using-only-coffeescript-to-build-an-smartphone-application">Using Only CoffeScript to Build a SmartPhone Application</a></li>
    <li><a href="http://diycomputerscience.com/courses/course/the-elements-of-computing-systems">The Elements of Computing Systems (From NAND to Tetris)</a></li>
    <li><a href="http://coding.smashingmagazine.com/2010/04/20/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/">Seven JavaScript Things I Wish I Knew Much Earlier In My Career</a></li>
    <li><a href="http://hacks.mozilla.org/2011/12/faster-canvas-pixel-manipulation-with-typed-arrays/">Faster Canvas Pixel Manipulation with Typed Arrays</a></li>
    <li><a href="http://arxiv.org/PS_cache/arxiv/pdf/1110/1110.1556v1.pdf">Jewish Math Problems</a></li>
    <li><a href="http://getpython3.com/diveintopython3/">Dive Into Python 3</a></li>
    <li><a href="http://slides.html5rocks.com/#landing-slide">Device Orientation in HTML5</a></li>
    <li><a href="http://rubylearning.org/class/">Ruby Learning</a></li>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
    <li><a href="http://blog.stackoverflow.com/2012/02/stack-exchange-open-source-projects/">Stack Exchange Open Source Projects</a></li>
    <li><a href="http://mycareerstack.com/">Career Stack</a></li>
    <li><a href="http://hackershelf.com/">Hacker Shelf</a></li>
    <li><a href="http://blog.carbonfive.com/2011/10/17/vim-text-objects-the-definitive-guide/">Vim Text Objects Guide</a></li>
    <li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial Book</a></li>
</ul>  
{% endblock %}

{% block extra_js %}{% endblock extra_js %}
