{% extends "index_base.html" %}
{% block js %}
<script src="js/chess.js" type="text/javascript"></script>
<script src="js/matrix.js" type="text/javascript"></script>
<script src="js/life.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<!--bootstrap post-->
<div class="post">
    <h2 id="bootstrap">Bootstrap Experiment</h2>
    <p class="byline"><small>Posted on Mar 7, 2012 ✿ by <a href="/">bphamworld</a></small></p>
    <p>You've probably heard of <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>? If not, follow the link and you'll see what magics it does.</p>
    <p>I've grown tired of my old website theme and decided to try out Bootstrap. Although Bootstrap gives people the opportunity to be lazy in putting more personal touch in their website's design, it's a great starting point for a newbie like me. Hopefully, from here onwards, I can create something more uniquely looking...</p>
    <p>Not only Bootstrap that makes a (major) change in the look of this website, from <a href="http://alexgorbatchev.com/SyntaxHighlighter/">SyntaxHighlighter</a>, I converted to <a href="http://code.google.com/p/google-code-prettify/">Google Code Prettify</a>, which is also pretty cool since it can guess what language the code snippet is. However, it doesn't support as many languages as SyntaxHighlighter.</p>
    <p>This could be a permanent change or just temporary, who knows if tomorrow I will see something even cooler than this?</p>
    <p>And finally, here is something for your curiosity: interested in how much different my old website looks compared to this one? Take a look <a href="http://4.bphamworld.appspot.com/" target="_blank">here</a> ... Free CSS Template heh &gt;&lt;</p>
    <p>&nbsp;&bull;</p>
    <p>&nbsp;&bull;</p>
    <p>&nbsp;&bull;</p>
    <p style="font-size: 17px;"> ✿ </p>
</div> <!--/.post bootstrap-->

<!--euler post-->
<div class="post">
    <h2 id="euler">Project Euler: Practice Your Math and Programming Skills</h2>
    <p class="byline"><small>Posted on Jan 25, 2012 by <a href="/">bphamworld</a></small></p>
        <p>I've recently started to participate in this site <a href="http://projecteuler.net/">Project Euler</a>. It's a website with a series of mathematics/programming problems, ranging from easy to very hard. Some problems, if not written in the right algorithm can take more than 5 minutes to get the result (personal experience, I forgot that it was running...). So it only matters if you use correct and efficient algorithms. These problems are meant to be solved in only less than a minute.</p>
        <p>Now I'm quite addicted to the thrilling feeling of getting the right answer :D. There are certainly numerous solutions out there on the web (and I admit, sometimes I have to resort to them when I'm stuck), but it's always more exciting to try and learn new algorithms and apply them to the problems.</p>
        <p>Check out my Git repository of my solutions (mostly in Python because I find it faster and neater to code, no?) to some of the Euler questions: <a href="https://github.com/baopham/projectEuler">baopham/projectEuler</a></p>
        <img src="http://projecteuler.net/profile/baopham.png" alt="My Euler badge"/>
</div> <!--/.post euler-->

<!--chess post-->
<div class="post">
    <h2 id="chess">Chess</h2>
    <p class="byline"><small>Posted on Dec 5, 2011 by <a href="/">bphamworld</a></small></p>
    <p>Want to play some chess? Here is a chess board for you written in HTML5 using the drag and drop feature. Make sure your browser supports HTML5. Now drag away!</p>
    <!-- chess table -->
    <div ondragstart="dragStart(event);" ondragover="return dragOver(event);" ondrop="return drop(event);">
        <table style="border-collapse: collapse" border="1">
            <tr>
                <td id="1" class="black odd" draggable="true">&#9820;</td>
                <td id="2" class="black even" draggable="true">&#9822;</td>
                <td id="3" class="black odd" draggable="true">&#9821;</td>
                <td id="4" class="black even" draggable="true">&#9819;</td>
                <td id="5" class="black odd" draggable="true">&#9818;</td>
                <td id="6" class="black even" draggable="true">&#9821;</td>
                <td id="7" class="black odd" draggable="true">&#9822;</td>
                <td id="8" class="black even" draggable="true">&#9820;</td>
            </tr>
            <tr>
                <td id="9" class="black even" draggable="true">&#9823;</td>
                <td id="10" class="black odd" draggable="true">&#9823;</td>
                <td id="11" class="black even" draggable="true">&#9823;</td>
                <td id="12" class="black odd" draggable="true">&#9823;</td>
                <td id="13" class="black even" draggable="true">&#9823;</td>
                <td id="14" class="black odd" draggable="true">&#9823;</td>
                <td id="15" class="black even" draggable="true">&#9823;</td>
                <td id="16" class="black odd" draggable="true">&#9823;</td>
            </tr>
            <tr>
                <td id="17" class="none odd" draggable="true">&nbsp;</td>
                <td id="18" class="none even" draggable="true">&nbsp;</td>
                <td id="19" class="none odd" draggable="true">&nbsp;</td>
                <td id="20" class="none even" draggable="true">&nbsp;</td>
                <td id="21" class="none odd" draggable="true">&nbsp;</td>
                <td id="22" class="none even" draggable="true">&nbsp;</td>
                <td id="23" class="none odd" draggable="true">&nbsp;</td>
                <td id="24" class="none even" draggable="true">&nbsp;</td>
            </tr>
            <tr>
                <td id="25" class="none even" draggable="true">&nbsp;</td>
                <td id="26" class="none odd" draggable="true">&nbsp;</td>
                <td id="27" class="none even" draggable="true">&nbsp;</td>
                <td id="28" class="none odd" draggable="true">&nbsp;</td>
                <td id="29" class="none even" draggable="true">&nbsp;</td>
                <td id="30" class="none odd" draggable="true">&nbsp;</td>
                <td id="31" class="none even" draggable="true">&nbsp;</td>
                <td id="32" class="none odd" draggable="true">&nbsp;</td>
            </tr>
            <tr>
                <td id="33" class="none odd" draggable="true">&nbsp;</td>
                <td id="34" class="none even" draggable="true">&nbsp;</td>
                <td id="35" class="none odd" draggable="true">&nbsp;</td>
                <td id="36" class="none even" draggable="true">&nbsp;</td>
                <td id="37" class="none odd" draggable="true">&nbsp;</td>
                <td id="38" class="none even" draggable="true">&nbsp;</td>
                <td id="39" class="none odd" draggable="true">&nbsp;</td>
                <td id="40" class="none even" draggable="true">&nbsp;</td>
            </tr>
            <tr>
                <td id="41" class="none even" draggable="true">&nbsp;</td>
                <td id="42" class="none odd" draggable="true">&nbsp;</td>
                <td id="43" class="none even" draggable="true">&nbsp;</td>
                <td id="44" class="none odd" draggable="true">&nbsp;</td>
                <td id="45" class="none even" draggable="true">&nbsp;</td>
                <td id="46" class="none odd" draggable="true">&nbsp;</td>
                <td id="47" class="none even" draggable="true">&nbsp;</td>
                <td id="48" class="none odd" draggable="true">&nbsp;</td>
            </tr>
            <tr>
                <td id="50" class="white odd" draggable="true">&#9817;</td>
                <td id="51" class="white even" draggable="true">&#9817;</td>
                <td id="52" class="white odd" draggable="true">&#9817;</td>
                <td id="53" class="white even" draggable="true">&#9817;</td>
                <td id="54" class="white odd" draggable="true">&#9817;</td>
                <td id="55" class="white even" draggable="true">&#9817;</td>
                <td id="56" class="white odd" draggable="true">&#9817;</td>
                <td id="57" class="white even" draggable="true">&#9817;</td>
            </tr>
            <tr>
                <td id="58" class="white even" draggable="true">&#9814;</td>
                <td id="59" class="white odd" draggable="true">&#9816;</td>
                <td id="60" class="white even" draggable="true">&#9815;</td>
                <td id="61" class="white odd" draggable="true">&#9813;</td>
                <td id="62" class="white even" draggable="true">&#9812;</td>
                <td id="63" class="white odd" draggable="true">&#9815;</td>
                <td id="64" class="white even" draggable="true">&#9816;</td>
                <td id="65" class="white odd" draggable="true">&#9814;</td>
            </tr>
        </table>
    </div> <!--/chess table-->
    <div id="editable-sec">
        <section id="editable" contenteditable="true" onkeyup="storeNotes(this.id);">
        </section>
        <div style="padding-top: 5px;">
            <input class="btn" type="button" id="resetChess" value="Reset game" />
            <input class="btn" type="button" id="clearNotes" value="Clear local storage" />
        </div>
        <p style="width: 350px">Click "clear local storage" if you don't want your notes to be remembered (If your notes are not remembered, it means your browser has <a href="http://en.wikipedia.org/wiki/LocalStorage">localStorage</a> turned off or doesn't support it unfortunately)</p>
    </div> <!--/editable section-->

    <div style="clear: both;">&nbsp;</div>

    <script type="text/javascript">
        getNotes();
        $("#clearNotes").click( function () {
                localStorage.clear();
        });
        $("#resetChess").click( function () {
            window.location = window.location; 
         });
    </script>
</div> <!--/.post chess-->

<!--matrix post--> 
<div class="post">
    <h2 id="matrix">JavaScript: Matrix Calculator</h2>
    <p class="byline"><small>Posted on November 27, 2011 by <a href="/">bphamworld</a></small></p>
    <div class="matrix-post">
        <p>A matrix calculator written in JavaScript :)</p>
        <div class="matrix">	
            <div>
                Matrix 1:
                <div class="buttons">
                    <input class="add btn" type="button" value="+"/>
                    <input class="remove btn" type="button" value="&#8211;"/>
                </div>
            </div>
            <div class="matrixA inputMatrix">
                <div class="row">
                    <input type="text" value="1, 2, 3"/>
                </div>
                <div class="row">
                    <input type="text" value="4, 5, 6"/>
                </div>
                <div class="row">
                    <input type="text" value="7, 8, 9"/>
                </div>
            </div>
        </div>
        <div class="matrix">
            <div>
                Matrix 2:
                <div class="buttons">
                    <input class="add btn" type="button" value="+"/>
                    <input class="remove btn" type="button" value="&#8211;"/>
                </div>
            </div>
            <div class="matrixB inputMatrix">
                <div class="row">
                    <input type="text" value="1, 2, 3"/>
                </div>
                <div class="row">
                    <input type="text" value="4, 5, 6"/>
                </div>
                <div class="row">
                    <input type="text" value="7, 8, 9"/>
                </div>
            </div>		
        </div>
        <div id="selection">
            <input type="radio" name="method" id="multiply" value="multiply" checked="checked">
            <label for="multiply">Multiply</label>
            <input type="radio" name="method" id="transpose" value="transpose"/>
            <label for="transpose">Transpose</label>
            <input type="radio" name="method" id="add" value="add"/>
            <label for="add">Addition</label>
            <input type="radio" name="method" id="substract" value="subtract"/>
            <label for="substract">Subtraction</label>
        </div>
        <div id="compute">
            <input class="btn" type="button" value="Compute"/>
        </div>
        <div id="answer"></div>
        <script type="text/javascript">computeMatrix()</script>
    </div>
</div> <!--/.post matrix-->	

<!--bashrc post-->
<div class="post">
    <h2 id="bashrc">.bashrc</h2>
    <p class="byline"><small>Posted in November 12, 2011 by <a href="/">bphamworld</a></small></p>
    <p>I love bash! As much as I love to configure my <a href="#textmate">TextMate and iTerm</a> I also like to collect cool snippets from people for my bash and create some for myself. Here is part of my bashrc:</p>
    <!--hide-->
    <div id="hide_3" style="display:none">
<pre class="prettyprint linenums pre-scrollable">
# Configure iTerm's tab title to display current directory 
export PROMPT_COMMAND='echo -ne "\033]0;${PWD/#$HOME/~}\007"'

# Show git branch in bash prompt
# e.g: export PS1="\[\033[0;32m\]\u@\h\[\033[0;32m\] \w\$(__git_ps1)\$\[\033[00m\] " 
__git_ps1() { 
    local b="$(git symbolic-ref HEAD 2&gt;/dev/null)";
    if [ -n "$b" ]; then
        printf " (%s)" "${b##refs/heads/}";
    fi
} 

alias la='ls -A'
alias ll='ls -l'
alias cleanup='rm -i "#"* "."*~ *~ *.bak *.dvi *.aux'

# Extract packages
extract() {
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xjf $1        ;;
            *.tar.gz)    tar xzf $1     ;;
            *.bz2)       bunzip2 $1       ;;
            *.rar)       rar x $1     ;;
            *.gz)        gunzip $1     ;;
            *.tar)       tar xf $1        ;;
            *.tbz2)      tar xjf $1      ;;
            *.tgz)       tar xzf $1       ;;
            *.zip)       unzip $1     ;;
            *.Z)         uncompress $1  ;;
            *.7z)        7z x $1    ;;
            *)           echo "'$1' cannot be extracted via
extract()" ;;
        esac
    else
        echo "'$1' is not a valid file"
    fi
}

clock() { 
    while true;do clear;echo "===========";date +"%r";echo "===========";sleep 1;done 
}

calc() {
   echo "scale=4; $1" | bc 
}

# Weather by us zip code - Can be called two ways # weather 50315 #
# weather "Des Moines"
weather() {
    declare -a WEATHERARRAY
    WEATHERARRAY=( `elinks -dump "http://www.google.com/search?hl=en&amp;lr=&amp;client=firefox-a&amp;rls=org.mozilla%3Aen-US%3Aofficial&amp;q=weather+${1}&amp;btnG=Search" | grep -A 5 -m 1 "Weather for" | sed 's;\[26\]Add to iGoogle\[27\]IMG;;g'`)
    echo ${WEATHERARRAY[@]}
}

# Get the time when the file's last modified. Usage: filetime file
filetime() {
    for arg
    do
        if [ -f $arg ] 
        then
            dir=`dirname $arg`
            name=`basename $arg`
            time=`ls -lA $dir | awk '{if ($9 == file) {print $6 "-" $7 "-" $8}}' file=$name`
            echo "$arg: $time"
        else
            echo "$arg is not a file"
        fi
    done
}

# Get total number of files in dir
total() {
    for arg
    do
        if [ -d $arg ]
        then
            visible=`ls -1 "$arg" | wc -l` 
            total=`ls -A -1 "$arg" | wc -l`
            echo "$arg: $visible visible files"
            echo "$arg: $total visible and hidden files"
        else
            echo "$arg is not a directory"
        fi     
    done
}

# safe rm - put removed files to ~/.Trash, if duplicates found, file is renamed to "&lt;file&gt;-copy $i"
function rm() {
    if [ $# -eq 0 ]; then
            echo "usage: trashit &gt;files...&lt;" &gt;&amp;2
            exit 2;
    fi

    for file in "$@"; do
            # get just file name 
            destfile="`basename \"$file\"`"
            suffix='';
            i=0;

            # If that file already exists, change the name
            while [ -e "$HOME/.Trash/${destfile}${suffix}" ]; do
                    suffix=" - copy $i";
                    i=`expr $i + 1`
            done

            mv -vi "$file" "$HOME/.Trash/${destfile}${suffix}"
    done
}

growl() {
    echo -e $'\e]9;'${1}'\007' ; return  ;
}
</pre>
    </div><!--/hide-->
    <p class="links"><a href="javascript:void(0)" onclick="toggle('hide_3', this)">more</a></p>
</div> <!--/.post bashrc-->

<!--textmate post-->
<div class="post">
    <h2 id="textmate">TextMate - Configure Python Bundle for iTerm</h2>
    <p class="byline"><small>Posted on November 18, 2011 by <a href="/">bphamworld</a></small></p>
    <p>Ever since I migrated to iTerm2, it's become frustrating that I cannot run my Python scripts in iTerm through my editor TextMate, so I decided to dig in the bundle editor:</p>
    <p>To run your Python scripts in <a href="http://www.iterm2.com/">iTerm2</a> or <a href="http://iterm.sourceforge.net/">iTerm</a>:</p>
    <p>Go to TextMate's menu: <b>Bundles</b> &#8594; <b>Bundle Editor</b> &#8594; <b>Show Bundle Editor</b><br>
    Now go to the Python bundle, duplicate the <b>Run Script (Terminal)</b> and rename it to <b>Run Script (iTerm)</b>. Then replace the whole command(s) section with:</p>
    <!--hide-->
    <div id="hide_2" style="display:none">
<pre class="prettyprint linenums">
#!/bin/bash
TPY=${TM_PYTHON:-python}

esc () {
STR="$1" ruby &lt;&lt;"RUBY"
   str = ENV['STR']
   str = str.gsub(/'/, "'\\\\''")
   str = str.gsub(/[\\"]/, '\\\\\\0')
   print "'#{str}'"
RUBY
}

osascript &lt;&lt;- APPLESCRIPT
    tell application "iTerm"
        activate
        make new terminal
        tell the first terminal 
            launch session "Default Session"
            tell the last session
                write text "python $TM_FILEPATH"
            end tell
        end tell
    end tell
APPLESCRIPT
</pre>
        <p>Next one is <b>Debug script in Terminal</b>. This one is easier because you can just replace this line <code>TP=${TM_TERM_PROG:=<b>Terminal</b>}</code> with <code>TP=${TM_TERM_PROG:=<b>iTerm</b>}</code>, and now rename your command.</p>
        <p>DONE!</p>
        <p>Now you can run your scripts in iTerm through the specified shortcuts and not the old school Terminal.</p>
    </div>
    <!--/hide-->
    <p class="links"><a href="javascript:void(0)" onclick="toggle('hide_2', this)">more</a></p>
</div> <!--/.post textmate-->

<!--Game Of Life-->
<div class="last-post">
    <h2 id="life">JavaScript and Canvas: Conway's Game of Life</h2>
    <p class="byline"><small>Posted on May 13, 2011 by <a href="/">bphamworld</a></small></p>
    <p>Being inspired by my school project from CS111 <b>Introduction to Computation</b>, I implemented the game again in JavaScript and used HTML5 canvas to display the cells and animation (HTML5 browser support is required).</p>
    <strong>Supported Browsers:</strong>
    <ul>
        <li>Firefox 4+</li>
        <li>Google Chrome</li>
        <li>Opera 10.6+</li>
        <li>Apple Safari 4+</li>
        <li>Internet Explorer 9</li>
    </ul>
    <!--hide-->
    <div id="hide_1" style="display:none">
        <p><i>From wikipedia</i>:</p>
        <blockquote><p>&#8220;The Game of Life, also known simply as Life, is a <a href="http://en.wikipedia.org/wiki/Cellular_automaton" target="_blank">cellular automaton</a> devised by the British mathematician <a href="http://en.wikipedia.org/wiki/John_Horton_Conway" target="_blank">John Horton Conway</a> in 1970.</p>
            <strong>Rules:</strong>
            <ol>
                <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
                <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                <li>Any live cell with more than three live neighbours dies, as if by overcrowding.</li>
                <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.&#8221;</li>
            </ol>
        </blockquote>

        <canvas id="canvas_life"></canvas>
        <div id="buttons_life">
            <button class="btn" id="generate" type="button">Generate Random Cells</button>
            <button class="btn" id="run" type="button">Run</button>
            <button class="btn" id="stop" type="button">Stop</button> 
            <button class="btn" id="clear" type="button">Clear</button>
        </div>
    </div>
    <!--/hide-->
    <script type="text/javascript">startLife()</script>
    <p class="links"><a href="javascript:void(0)" onclick="toggle('hide_1', this)">more</a></p>
</div><!--./post Game of Life-->	
{% endblock content %}

