<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Resume</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Bao Pham, bphamworld, computer science, math, ubc, programming, student, blogs, resume" />
        <meta name="description" content="Bao Pham's Resume" />
        <link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/yui-yahoo.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/resume.css" media="all" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27192907-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
</script>
    </head>
    <body>
        <!-- start header -->
        <div id="logo">
            <h1 id="logo-text"><a href="/">BPm's<span class="gray">World</span></a></h1>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li class="current_page_item">
                    <a href="/resume">Resume</a>
                </li>

            </ul>
        </div>
        <div id="page">
            <div id="page-bg">
                <div class="resume">
                    <div id="doc2" class="yui-t7">
                        <div id="inner">
                            <div id="hd">
                                <div class="yui-gc">
                                    <div class="yui-u first">
                                        <h1>
                                            Bao Pham
                                        </h1>
                                        <h2>
                                            3rd Year Student at <a href="http://ubc.ca/">UBC</a>
                                        </h2>
                                    </div>
                                    <div class="yui-u">
                                        <div class="contact-info">
                                            <h3>
                                                <a id="pdf" href="/download_resume" name="pdf">Download PDF</a>
                                            </h3>

                                        </div><!--// .contact-info -->
                                    </div>
                                </div><!--// .yui-gc -->
                            </div><!--// hd -->
                            <div id="bd">
                                <div id="yui-main">
                                    <div class="yui-b">
                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>Technical</h2>	
                                            </div>
                                            <div class="yui-u">
                                                <ul class="talent">
                                                    <li>Python
                                                    </li>
                                                    <li>Java
                                                    </li>
                                                    <li>C++</li>
                                                    <li class="last">Shell script
                                                    </li>
                                                </ul>
                                                <ul class="talent">
                                                    <li>HTML
                                                    </li>
                                                    <li>CSS
                                                    </li>
                                                    <li class="last">Javascript/Jquery
                                                    </li>
                                                </ul>
                                                <ul class="talent">
                                                    <li>PostgreSQL
                                                    </li>
                                                    <li>Subversion, Git 
                                                    </li>
                                                    <li class="last">Plone CMS
                                                    </li>
                                                </ul>
                                                <ul class="talent">
                                                    <li>OS X
                                                    </li>
                                                    <li>Windows
                                                    </li>
                                                    <li class="last">Linux
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!--// .yui-gf-->
                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>School Projects</h2>									
                                            </div><!--// .yui-u -->
                                            <div class="yui-u">
                                                <div class="job">
                                                    <h2>Basic Algorithms and Data Structures CPSC 221</h2>																									
                                                    <p>&#8226; Implemented a maze solver algorithm in C++</p>
                                                    <p>&#8226; Achieved 100% for the project</p>
                                                </div>
                                                <div class="job">
                                                    <h2>Introduction to Software Development CPSC 211</h2>
                                                    <p>&#8226; Designed and implemented a photo library application to display photos using Java Swing</p>
                                                    <p>&#8226; Employed JUnit testing</p>
                                                    <p>&#8226; Implemented tag cloud as a bonus</p>
                                                    <p>&#8226; Achieved over 100% for the project</p>
                                                </div>
                                                <div class="last">
                                                    <h2>Introduction to Computation CPSC 111</h2>
                                                    <p>&#8226; Implemented the Game of Life in Java - a cellular automaton devised by the British mathematician John Horton Conway</p>
                                                    <p>&#8226; Achieved 100% for the project</p>
                                                    <p>&#8226; Being inspired by the success of the project, ported the Java program into HTML5 and Javascript</p>
                                                </div>
                                            </div>
                                        </div>	

                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>Personal Projects</h2>		
                                            </div><!--// .yui-u -->
                                            <div class="yui-u">
                                                <div class="last">
                                                    <h2>Personal Website</h2>
                                                    <p>&#8226; <a href="/">This site!</a></p>
                                                    <p>&#8226; A site for me to learn and explore new technologies</p>	
                                                    <p>&#8226; Includes interactive chess game, matrix calculator, Game of Life animation</p>                                               											</div>
                                            </div>
                                        </div>													
                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>Experience</h2>									
                                            </div><!--// .yui-u -->
                                            <div class="yui-u">
                                                <div class="job">
                                                    <h2>Genome Sciences Centre</h2>
                                                    <h3>
                                                        Bioinformatics — Co-op
                                                    </h3>
                                                    <h4>
                                                        09/2011- 04/2012
                                                    </h4>
                                                    <p>&#8226; Key person to process the team QC’s reports to online services for down stream research</p>
                                                    <p>&#8226; Developed Python modules for the team to parse report files to HTML and upload to Plone</p>
                                                    <p>&#8226; Collaborated closely with the team members to help produce and format accurate reports</p>
                                                    <p>&#8226; Coded shell scripts to extract data from the system</p>
                                                    <p>&#8226; Had the opportunity to work with the underlying distributed system consisting of multiple databases</p>
                                                    <p>&#8226; Displayed strong analytical skills by finishing work with minimal supervision and in a short period of time</p>										
                                                </div>
                                                <div class="job">
                                                    <h2>
                                                        Faculty of Dentistry, Dean's Office, UBC
                                                    </h2>
                                                    <h3>
                                                        Project Worker
                                                    </h3>
                                                    <h4>
                                                        2010
                                                    </h4>
                                                    <p>&#8226; Handled thousands of patient records by scanning and taking pictures of patients’ teeth samples</p>
                                                    <p>&#8226; Work required strict confidentiality and little room for error</p>
                                                </div>
                                                <div class="job">
                                                    <h2>
                                                        UBC Access & Diversity
                                                    </h2>
                                                    <h3>
                                                        Note Taker
                                                    </h3>
                                                    <h4>
                                                        2009
                                                    </h4>
                                                    <p>&#8226; Taken methodical and accurate notes for student with disability for Math 101</p>
                                                    <p>&#8226; Attended every single lecture on time in order to fulfill my obligation</p>
                                                </div>
                                                <div class="last">
                                                    <h2>
                                                        Private Tutor
                                                    </h2>

                                                    <h4>
                                                        2010
                                                    </h4>
                                                    <p>&#8226; Tutored a Grade 12 student in Math</p>
                                                    <p>&#8226; Motivated and encouraged her to excel in the subject</p>
                                                </div>
                                            </div><!--// .yui-u -->
                                        </div><!--// .yui-gf -->
                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>Volunteer</h2>									
                                            </div><!--// .yui-u -->
                                            <div class="yui-u">
                                                <div class="job">
                                                    <h2>Burnaby Hospital</h2>
                                                    <h3>Patient Assistant</h3>
                                                    <h4>2009-2010</h4>
                                                    <p>&#8226; Helped elderly patients be more active and feel more comfortable</p>
                                                    <p>&#8226; Actively engaged them in conversation to make them happy</p>
                                                </div>
                                                <div class="job">
                                                    <h2>University of British Columbia</h2>
                                                    <h3>Career Days Host</h3>
                                                    <h4>09/2009</h4>
                                                    <p>&#8226; Organized the program where 65 employers and 45 graduate come to present themselves and attract potential students</p>
                                                    <p>&#8226; Helped the employers and graduate schools’ representatives set up their presentations</p>
                                                    <p>&#8226; Guided students to the right place and provided answers to their queries</p>
                                                </div>
                                                <div class="last">
                                                    <h2>Vancouver General Hospital</h2>
                                                    <h3>Gift Shop Cashier</h3>
                                                    <h4>2007-2008</h4>
                                                    <p>&#8226; Accurately handled various types of transactions such as credit, cash, cheques and balancing of accounts at the end of shifts</p>
                                                    <p>&#8226; Restocked and delivered flowers to patients</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="yui-gf">
                                            <div class="yui-u first">
                                                <h2>Education</h2>	
                                            </div>
                                            <div class="yui-u">
                                                <h2>University of British Columbia, Canada</h2>
                                                <p>&#8226; Combined Major Math and Computer Science</p>
                                                <p>&#8226; Awarded President Entrance Scholarship for excellent performance in High School</p>
                                            </div>
                                        </div><!--// .yui-gf -->
                                        <div class="yui-gf last">
                                            <div class="yui-u first">
                                                <h2>Interests</h2>	
                                            </div>
                                            <div class="yui-u">
                                                <p>Computer Science, Mathematics, Technology, Music, Reading, Poetry, Literature</p>
                                            </div>
                                        </div><!--// .yui-gf -->
                                    </div><!--// .yui-b -->
                                </div><!--// yui-main -->
                            </div><!--// bd -->
                        </div><!-- // inner -->
                    </div><!--// doc -->
                </div>
            </div>
        </div>
        <div id="footer">
            <p>&copy;2012 All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
        </div>
    </body>
</html>
